.counter-container {
    border: 2px solid rgb(255, 0, 0);
    margin-left: 5px;
    padding: 40px;
    width: 200px;
    color: aqua;
}
.plus-button{
    border: 2px solid rgb(53, 12, 176);
}
.minus-button{
    margin-left: 5px;
    border: 2px solid rgb(53, 12, 176);
}
.reset-button{
    margin-left: 5px;
    border: 2px solid rgb(53, 12, 176);
}